<div id="queryOrder">
    <div class="ico_title">支付测试(提交信息（公众帐号支付查询）)</div>
    <div class="form_wrap account">
        <div class="form_list">
            <span class="list_title">商户订单号：</span>
            <span class="list_val">
                <input name="out_trade_no" value="" maxlength="32" size="30" placeholder="长度32">
            </span>
        </div>
        <div class="form_list">
            <span class="list_title"></span>
            <span class="list_val submit btn btn_blue" id="queryBtn">确定</span>
        </div>
    </div>
</div>